.App {
  display: flex;
}

.employeesList{
  width: 70%;
}

.employeesList h1{
  display: block;
  text-align: center;
}

.employeesList h2{
  text-align: center;
}

.employeesList > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  border-right: 2px solid #ccc;
}

.employeesListItem{
  min-width: 200px;
  max-width: 200px;
  padding: 0 15px;
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;
}

.employee{
  font-weight: 600;
  display: block;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 18px;
  cursor: pointer;
}

.employeesBirth{
  width: 30%;
  min-width: 300px;
}

.employeesBirth h4{
  margin-top: 0;
}

.employeesBirth > div{
  border-top: 2px solid #ccc;
  padding-left: 30px;
}

.employeesBirth h2{
  text-align: center;
}

.birthdayMonth{
  padding: 15px;
}

.birthdayMonth ul{
  padding-left: 20px;
}

.birthRecord{
  font-weight: 600;
}

.noEmployee{
  text-align: center;
  padding: 40px 20px;
  font-size: 20px;
  font-weight: 600;
}